body {
    font-family: "Microsoft YaHei", "Helvetica Neue For Number", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    background-color: #ffffff;
}

div, form, img, ul, ol, li, dl, dt, dd, p, tr, td, body, strong, span, pre, input {
    margin: 0;
    padding: 0;
    border: 0;
    background-repeat: no-repeat;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img {
    border: 0px;
    max-width: 100%;
}

ul, li {
    list-style: none;
}

em {
    font-style: normal;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: none;
    background-repeat: no-repeat;
}

a, area {
    blr: expression(this.onFocus=this.blur())
}

.header {
    line-height: 64px;
    padding: 0 24px 0 24px;
    -webkit-box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
    position: relative;
    background-color: #ffffff;
}

.header-right {
    float: right;
    display: inline;
}

.logout {
    font-size: 22px;
    right: 20px;
}

.logo {
    height: 64px;
    position: relative;
    line-height: 64px;
    padding-left: 24px;
    transition: all .3s;
    background: #002140;
    overflow: hidden;
    font-size: 20px;
}

.logo a {
    color: #ffffff;
}

.trigger {
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: all .3s;
}

.page-header {
    background: #fff;
    padding: 16px 24px 16px 24px;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.page-header-body {
    margin: 10px 0px;
}

.page-header-body-title {
    font-size: 20px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
}

.page-header-body-button {
    text-align: right;
}

.page-header-body-button-left {
    margin-right: 8px;
}

.page-header-description {

}

.page-content {
    margin: 24px;
    padding: 25px 24px 1px 24px;
    box-sizing: border-box;
    background-color: #ffffff;
}

.form-item {
    margin-bottom: 20px !important;
}